
*{
    margin: 0;
    padding: 0;
box-sizing: border-box;
}

body{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background-color: hsl(30, 38%, 92%);
font-family: var(--font-primary) ;
}