/* responsive */

@media (max-width:450px){
.container{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: auto;
width: 80%;
margin: 20px auto;
border-radius: 10px;

}

.img-perfume{
width: 100%;
}

.img-perfume-card{
    width: 100%;
    height: 300px;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

.perfume-info{
    width: 100%;
    height: 100%;
    padding: 25px;
    border-radius: 0 0 10px 10px;
    font-size: 15px;
}


.btn-buy{
    width: 100%;
}
}


@media (min-width:541px) and (max-width:660px) {
   
    .container{
height: 400px;
width: 80%;

}

.img-perfume{
width: 100%;
}

.img-perfume-card{
    flex-basis: 50%;
flex-grow: 0;
flex-shrink: 1;
min-width: 200px;
}

.perfume-info{
flex-basis: 50%;
flex-grow: 0;
flex-shrink: 1;
min-width: 200px;
    padding: 20px;
}

.name-perfume{
    font-size:24px;
}

.pra-perfume{
    font-size: 11px;
}

.perfume-price{
    font-size: 22px;

}

.btn-buy{
    width: 100%;
    font-size: 12px;
    height: 45px;
}
}


@media (min-width:451px) and (max-width:540px) {
   
    .container{
height: 350px;
width: 80%;

}

.img-perfume{
width: 100%;
height: 100%;
}

.img-perfume-card{
min-width: 200px;
}

.perfume-info{

min-width: 200px;
    padding: 15px;
    height: 100%;
}

.name-perfume{
    font-size:20px;
}

.pra-perfume{
    font-size: 9px;
}

.perfume-price{
    font-size: 20px;

}

.btn-buy{
    width: 100%;
    font-size: 10px;
    height: 45px;
}
}


/* end responsive*/