:root {
    --color-dark-cyan: hsl(158, 36%, 37%);
    --color-dark-cyan-hover: hsl(158, 42%, 18%);
    --color-gray-text: gray;
    --color-white: white;

/* -- typography -- */
    --font-primary: 'Montserrat', sans-serif;
    --font-secondary: 'Fraunces', serif;
}

/*end variables*/